.btn{
	@include transition(background .2s ease);
	display: inline-block;
	vertical-align: top;
	position: relative;
	border: none;
	overflow: visible;
	outline: none !important;
	text-decoration: none;
	cursor: pointer;
	margin: 0;

	&--braun{
		background: #d3ad62;
		font-size: 30.35px;
		border-radius: 9px 9px 0 0;
		font-family: $bold;
		text-shadow: 1px 1px 2px rgba(#000, .3);
		padding: 8px 10px 6px; 
		color: #fff;
		letter-spacing: .8px;
		text-transform: uppercase;
		line-height: 1;

		&:hover{
			text-decoration: none;
			background: darken( #d3ad62, 7);
		}
	}
}