%inline-block{
	display: inline-block;
}

%shadow{
	box-shadow: 16px 16px 27px rgba(#000, .3);
}
%text-shadow{
	text-shadow: 0 0 10px rgba(75, 149, 179, 0.8);
	// text-shadow: 0 0 10px rgba(0, 82, 116, 0.63);
}