@font-face {
    font-family: 'MyriadProRegular';
    src: font-url('myriadpro-regular.eot');
    src: font-url('myriadpro-regular.eot') format('embedded-opentype'),
         font-url('myriadpro-regular.woff2') format('woff2'),
         font-url('myriadpro-regular.woff') format('woff'),
         font-url('myriadpro-regular.ttf') format('truetype'),
         font-url('myriadpro-regular.svg#MyriadProRegular') format('svg');
}


@font-face {
  font-family: 'HeliDisCyr';
  src: font-url('HeliDisCyr.eot?#iefix') format('embedded-opentype'),  font-url('HeliDisCyr.otf')  format('opentype'),
	     font-url('HeliDisCyr.woff') format('woff'), font-url('HeliDisCyr.ttf')  format('truetype'), font-url('HeliDisCyr.svg#HeliDisCyr') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'HeliDisCyr-Bold';
  src: font-url('HeliDisCyr-Bold.eot?#iefix') format('embedded-opentype'),  font-url('HeliDisCyr-Bold.otf')  format('opentype'),
	     font-url('HeliDisCyr-Bold.woff') format('woff'), font-url('HeliDisCyr-Bold.ttf')  format('truetype'), font-url('HeliDisCyr-Bold.svg#HeliDisCyr-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
