.full-rules{

	padding: 74px 0 0 0;
	margin: 0 0 140px;

	.module__title{
		margin: -15px 0 0 -272px;
		padding-top: 17px;
		z-index: 2;
	}

	.person{
		left: -330px;
		top: -246px;
	}

	.rules{
		padding: 110px 60px 57px;

		p{
			margin: 0 0 18px;
			text-shadow: 1px 1px 1px rgba(#000, .2);
		}
	}
}