body{
    background:  image-url('body-bg.jpg') center 0 no-repeat;

    @include brk($max: $min-width) {
        background-image: image-url('body-bg-1024.jpg');
    };

    &.bg-1{
        background-image: image-url('body-bg-1.jpg');

        @include brk($max: $min-width) {
            background-image: image-url('body-bg-1-1024.jpg');
        };
    }
    background-color: #2e2e2e;
}

.module{
	position: relative;

	&__title{
		text-align: center;
		position: absolute;
		top: 0;
		left: 50%;
		font-family: 'HeliDisCyr-Bold';
		font-size: 85.26px;
		letter-spacing: -.7px;


		&--1{
			background:  image-url('title-1.png') center 0 no-repeat;
			width: image-width('title-1.png');
			height: image-height('title-1.png');
		}

		&--2{
			background:  image-url('title-2.png') center 0 no-repeat;
			width: image-width('title-2.png');
			height: image-height('title-2.png');
		}

		&--3{
			background:  image-url('title-3.png') center 0 no-repeat;
			width: image-width('title-3.png');
			height: image-height('title-3.png');
		}

		&--4{
			background:  image-url('title-4.png') center 0 no-repeat;
			width: image-width('title-4.png');
			height: image-height('title-4.png');
		}
	}
}


.custom-ui{
	position: relative;

	&__label{
		position: relative;
		cursor: pointer;
		padding-left: 26px;
		letter-spacing: 1px;

		&:before, &:after{
			display: block;
			content: '';
			position: absolute;
			left: 0;
			top: 0;
		}

		&:after{
			@include transition(opacity .2s ease);
			@include sprite($check-active);
			opacity: 0;
			visibility: hidden;
		}

		&__number{
			margin-right: 11px;
		}
	}

	&__input{
		position: absolute;
		visibility: hidden;
		opacity: 0;
		left: 0;
		top: 0;
	}

	&--radio{
		.custom-ui__label{
			&:before, &:after{
				top: 15px;
			}
			&:before{
				@include sprite($check-unactive);
			}
		}

		.custom-ui__input:checked + .custom-ui__label{
			&:after{
				opacity: 1;
				visibility: visible;
			}
		}
	}

}


.advertising{
	text-align: justify;
	padding: 0 22px 0 16px;

	&:after{
		display: inline-block;
		content: '';
		width: 100%;
	}

	&__item{
		display: inline-block;
		vertical-align: top;
	}
}


.search{

	&__input{
		display: block;
		width: 100%;
		background: #fff;
		border: 2px solid #fff;
		border-radius: 50px;
		box-shadow: inset 0 2px 4px #88a4c7, 0 2px 0 rgba(#3073c4, .8);
		font-size: 14px;
		color: #b9b9b9;
		outline: none !important;
		padding: 6px 8px 4px;
	}
}