*, *:after, *:before{
    @include box-sizing(border-box);
}

body, html{
    height: 100%;
    min-width: 980px;
}


.global{
    min-height: 100%;
    max-width: 100%;
    overflow: hidden;

    &__container{
    	width: 980px;
    	padding: 0 20px 193px;
    	margin: 0 auto;
    }
}

.colums{
	@include pie-clearfix();

	&__column{
		float: left;
	}
}