.header{
	position: relative;
	padding-top: 85px;
	height: 382px;
	margin-bottom: 35px;
	z-index: 4;

	&__left{
		position: absolute;
		top: 11px;
		left: -21px;
	}

	&__right{
		position: absolute;
		right: 25px;
		top: 74px;
	}

	&__bottom{
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 5px;
		z-index: 2;
	}
}

.nav{
	text-align: center;
	margin-bottom: -5px;

	&__list{
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	&__item{
		display: inline-block;
		vertical-align: top;
		background:  image-url('nav__item__bg.png') center 0 no-repeat;
		width: image-width('nav__item__bg.png');
		height: image-height('nav__item__bg.png');
		margin: 0 -25px;
	}

	&__link{
		text-decoration: none;
		font-style: italic;
		display: inline-block;
		vertical-align: top;
		font-family: 'HeliDisCyr-Bold';
		font-size: 28px;
		margin: 18px 13px 0 0;

		&:hover{
			text-decoration: underline;
		}
	}
}

.share{
	text-align: right;
	margin: 0 auto;
	max-width: 617px;

	&__title{
		@extend %inline-block;
		vertical-align: top;
		text-transform: uppercase;
		text-shadow: 0 0 10px rgba($sh-color, .63);
		font-family: 'HeliDisCyr-Bold';
		font-size: 29px;
		margin: 6px -2px 0 0;
	}

	&__links{
		@extend %inline-block;
		vertical-align: top;
	}
	
	&__link{
		@extend %inline-block;
		vertical-align: middle;
		position: relative;
		z-index: 2;
	}

	&__link:hover{
		& + .share__item__shadow{
				opacity: 0;
				visibility: hidden;
			}
	}

	&__item{
		@extend %inline-block;
		vertical-align: top;
		position: relative;
		text-align: center;

		&__shadow{
			@include transition(opacity .2s ease);
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			opacity: 1;
			visibility: visible;
		}

		&--fb{
			width: $fb-shadow-width;
			height: $fb-shadow-height;
			line-height: $fb-shadow-height - 6;

			.share__item__shadow{
				@include sprite($fb-shadow);
			}

			.share__link{
				@include sprite($fb);	
			}
		}

		&--odn{
			width: $odn-shadow-width;
			height: $odn-shadow-height;
			line-height: $odn-shadow-height - 6;
			margin-left: -20px;

			.share__item__shadow{
				@include sprite($odn-shadow);
			}
			.share__link{
				@include sprite($odn);	
			}
		}

		&--twitter{
			width: $twitter-shadow-width;
			height: $twitter-shadow-height;
			line-height: $twitter-shadow-height - 6;
			margin-left: -19px;

			.share__item__shadow{
				@include sprite($twitter-shadow);
			}
			.share__link{
				@include sprite($twitter);	
			}
		}

	}
}