.module--1{
	padding: 44px 0 0 21px;
	min-height: 700px;

	.module__title{
		margin-left: -274px;
		padding: 22px 0 0 9px;
	}

	.person{
		position: absolute;
	    left: -229px;
	    top: -244px;

		&--bg{
			background:  image-url('person-1.png') 0 0 no-repeat;
			width: image-width('person-1.png');
			height: image-height('person-1.png');
		}
	}
}

.intro-rules{
	margin-bottom: 196px;
	z-index: 3;



	&__body{
		width: image-width('plane-1.png');
		height: image-height('plane-1.png');
		background:  image-url('plane-1.png') center 0 no-repeat;
		margin: 0 auto;
	}

	&__text{
		text-align: center;
		padding: 129px 55px 0 55px;
		position: relative;
		z-index: 3;
	}

	&__title{
		@extend %text-shadow;
		font-size: 37.19px;
		font-family: $bold;
		letter-spacing: -.35px;
		line-height: 1.2;
		margin-bottom: 16px;
	}

	&__items{
		position: relative;
		height: 109px;
	}

	&__item{
		@extend %text-shadow;
		font-size: 24.98px;
		position: absolute;
		font-family: $bold;
		padding-left: 16px;
		letter-spacing: -.2px;

		&:before{
			display: block;
			content: '';
			position: absolute;
			left: -1px;
			top: 10px;
		}

		&--1{
			left: 0;
			top: 0;

			&:before{
				@include sprite($marker-1);
			}
		}

		&--2{
			right: 17px;
			top: 0;

			&:before{
				@include sprite($marker-2);
			}
		}

		&--3{
			padding-left: 19px;
			bottom: 0;
			width: 425px;
			letter-spacing: -.3px;
			text-align: left;
			left: 108px;


			&:before{
				@include sprite($marker-3);
			}

			span{
				display: block;
				margin-left: 27px;
			}
		}
	}

}