@mixin panel($top, $body, $bottom, $bg, $radius) {

		width: image-width($top);
		margin: 0 auto;
	
		.panel__top{
			background:  image-url($top) 0 0 no-repeat;
			width: image-width($top);
			padding-top: image-height($top);
		}

		.panel__bottom{
			background:  image-url($bottom) 0 100% no-repeat;
			width: image-width($bottom);
			padding-bottom: image-height($bottom);
		}

		.panel__center{
			background:  image-url($body) 0 0 repeat-y;
			width: image-width($body);
			border-radius: $radius;
		}

		.panel__bg{
			background: #37662f image-url($bg) center 0 repeat;
			border-radius: $radius;
		}

		.panel__body{
			margin-top: - image-height($top);
			margin-bottom: - image-height($bottom);
			min-height: image-height($bottom) + image-height($top);
		}


}

.panel{
	@extend %shadow;
	@extend %text-shadow;
	position: relative;
	border-radius: 35px;


	@for $i from 1 through 7 {
		&--#{$i}{
			@include panel('rp-#{$i}-top.png', 'rp-#{$i}-body.png', 'rp-#{$i}-bottom.png', 'rp-#{$i}-leaf.jpg', 45px );
		}		
	}
}