.module--3{
	.module__title{
		margin-left: -411px;
		padding: 48px 0 0 21px;

		&__part--2{
			text-transform: uppercase;
			font-size: 62px;
			margin: -18px 0 0 0;
		}
	}

	.person{
		position: absolute;
		left: 50%;
	    top: -358px;
	    margin: 0 0 0 -264px;

		&--bg{
			background:  image-url('person-3.png') 0 0 no-repeat;
			width: image-width('person-3.png');
			height: image-height('person-3.png');
		}
	}
}

.prizes{
	min-height: 560px;
	padding: 154px 0 0 4px;
	margin-bottom: 93px;

	&__body{
		width: image-width('plane-3.png');
		height: image-height('plane-3.png');
		background:  image-url('plane-3.png') center 0 no-repeat;
		margin: 0 auto;
	}

	&__items{
		position: relative;
		z-index: 2;
		font-size: 0;
		padding: 59px 0 0 45px;
	}

	&__item{
		width: image-width('plane-2.png');
		height: image-height('plane-2.png');
		background:  image-url('plane-2.png') center 0 no-repeat;
		display: inline-block;
		vertical-align: top;
		margin: 0 8px 6px 0;
		padding: 6px 6px 6px 5px;

		&__image{
			border-radius: 45px;
			overflow: hidden;
		}
	}


}