.prizes-main{
	margin-top: -31px;
	padding-top: 99px;
	margin-bottom: 250px;

	.module__title{
		margin-left: -275px;
		padding: 20px 0 0 10px;

		z-index: 2;
	}

	.person{
		position: absolute;
		left: 50%;
		bottom: -120px;
		margin: 0 0 0 -196px;

		&--bg{
			background:  image-url('person-4.png') 0 0 no-repeat;
			width: image-width('person-4.png');
			height: image-height('person-4.png');
		}
	}
	&__body{
		position: relative;
		min-height: 421px
	}

	&__items{
		padding: 68px 57px 0;
		position: relative;
		z-index: 2;
		margin-left: -173px;
	}

	&__item{
		width: image-width('plane-4.png');
		height: image-height('plane-4.png');
		background:  image-url('plane-4.png') center 0 no-repeat;
		display: inline-block;
		vertical-align: top;
		padding: 7px;
		margin-left: 173px;
		border-radius: 57px;
		box-shadow: 16px 14px 27px rgba(0, 0, 0, 0.15), -15px -8px 18px rgba(126, 247, 86, 0.15);
	}

	&__image{
		border-radius: 48px;
		overflow: hidden;
		text-align: center;
		height: 276px;
		line-height: 270px;
	}
}