.module--2{
	min-height: 660px;
	padding-top: 112px;
	margin-bottom: 271px;

	.module__title{
		margin-left: -307px;
		padding: 11px 0 0 1px;
	}

	.person{
		position: absolute;
		left: 50%;
		top: -590px;
		margin: 0 0 0 -185px;

		&--bg{
			background:  image-url('person-2.png') 0 0 no-repeat;
			width: image-width('person-2.png');
			height: image-height('person-2.png');
		}
	}
}

.question-of-day{
	z-index: 2;

	&__body{
		padding-left: 111px;
		position: relative;

		.colums__column{		
			&--left{
				margin-right: 22px;
			}
		}
	}


}


.question{
	padding: 30px 25px 94px 28px;
	position: relative;

	&__image{
		border-radius: 20px;
		overflow: hidden;
		margin: 0 0 25px;
	}

	&__title{
		font-family: $bold;
		font-size: 39.29px;
		line-height: 1;
		margin: 0 45px 11px;
		letter-spacing: .6px;
	}

	&__items{
		font-size: 0;
		padding: 0 14px 0 59px;
	}

	&__item{
		display: inline-block;
		vertical-align: top;
		width: 50%;
		margin: 0 0 3px;
		font-size: 29.24px;
		font-family: $regular;
	}

	.btn__submit{
		position: absolute;
		bottom: 12px;
		left: 79px;
	}
}


.top{

	padding: 16px 25px 23px 66px;
	
	&__title{
		font-family: $bold;
		font-size: 37.15px;
		margin-bottom: 9px;
	}

	&__list{
		font-family: $regular;
		list-style-type: none;
		margin: 0;
		padding: 0;
		counter-reset: li;
	}

	&__item{
		counter-increment: li;
		font-size: 30.15px;
		position: relative;
		line-height: 1;
		letter-spacing: .6px;
		margin: 0 0 15.2px;

		&:before{
			display: inline-block;
			content: counter(li);
			margin: 0 10px 0 4px;
		}
	}
}