.rate{

	.colums--rate{
		width: 901px;
		margin: 0 auto 55px;
		position: relative;
		left: -5px;
	}

	.colums__column{
		width: 293px;
		margin-left: 7px;
	}

	.module__title{
		font-size: 45.87px;
		z-index: 2;
		text-transform: uppercase;
		margin: -32px 0 0 -150px;
		padding: 10px 0 0 4px;
	}

	&__body{
		padding: 77px 0 0 0;

		.top__item{
			font-size: 28.25px;
			font-family: $bold;
			margin: 0 0 13.2px;
			letter-spacing: 0;

			&:before{
				margin-right: 17px;
			}
		}
	}

	&__section--full{
		margin-bottom: 155px;

		.module__title{
			margin: -37px 0 0 -146px;
			padding: 12px 12px 0 0;
		}

		.rate__body{
			padding-top: 37px;
			position: relative;
			z-index: 3;
		}

		.search{
			margin: 0 auto;
			width: 436px;
		}
	}
}

.full-colums{
	@include pie-clearfix();
	padding: 29px 0 25px;

	&__column{
		float: left;
		width: 33%;
		position: relative;
		padding: 0 25px;
		text-align: center;

		&--2{
			.separator{
				position: absolute;
				top: 0;
				height: 100%;
				width: image-width('sep-y.png');
				background:  image-url('sep-y.png') center center no-repeat;

				&--left{
					left: -5px;
				}

				&--right{
					right: -13px;
				}
			}
		}
	}

	.top__item{
		margin-bottom: 10px;
	}
}