/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$check-active-name: 'check-active';
$check-active-x: 164px;
$check-active-y: 3px;
$check-active-offset-x: -164px;
$check-active-offset-y: -3px;
$check-active-width: 16px;
$check-active-height: 16px;
$check-active-total-width: 314px;
$check-active-total-height: 96px;
$check-active-image: '../images/sprite.png';
$check-active: (164px, 3px, -164px, -3px, 16px, 16px, 314px, 96px, '../images/sprite.png', 'check-active', );
$check-unactive-name: 'check-unactive';
$check-unactive-x: 148px;
$check-unactive-y: 3px;
$check-unactive-offset-x: -148px;
$check-unactive-offset-y: -3px;
$check-unactive-width: 16px;
$check-unactive-height: 16px;
$check-unactive-total-width: 314px;
$check-unactive-total-height: 96px;
$check-unactive-image: '../images/sprite.png';
$check-unactive: (148px, 3px, -148px, -3px, 16px, 16px, 314px, 96px, '../images/sprite.png', 'check-unactive', );
$fb-shadow-name: 'fb-shadow';
$fb-shadow-x: 0px;
$fb-shadow-y: 0px;
$fb-shadow-offset-x: 0px;
$fb-shadow-offset-y: 0px;
$fb-shadow-width: 51px;
$fb-shadow-height: 49px;
$fb-shadow-total-width: 314px;
$fb-shadow-total-height: 96px;
$fb-shadow-image: '../images/sprite.png';
$fb-shadow: (0px, 0px, 0px, 0px, 51px, 49px, 314px, 96px, '../images/sprite.png', 'fb-shadow', );
$fb-name: 'fb';
$fb-x: 127px;
$fb-y: 3px;
$fb-offset-x: -127px;
$fb-offset-y: -3px;
$fb-width: 21px;
$fb-height: 19px;
$fb-total-width: 314px;
$fb-total-height: 96px;
$fb-image: '../images/sprite.png';
$fb: (127px, 3px, -127px, -3px, 21px, 19px, 314px, 96px, '../images/sprite.png', 'fb', );
$marker-1-name: 'marker-1';
$marker-1-x: 204px;
$marker-1-y: 3px;
$marker-1-offset-x: -204px;
$marker-1-offset-y: -3px;
$marker-1-width: 12px;
$marker-1-height: 11px;
$marker-1-total-width: 314px;
$marker-1-total-height: 96px;
$marker-1-image: '../images/sprite.png';
$marker-1: (204px, 3px, -204px, -3px, 12px, 11px, 314px, 96px, '../images/sprite.png', 'marker-1', );
$marker-2-name: 'marker-2';
$marker-2-x: 192px;
$marker-2-y: 3px;
$marker-2-offset-x: -192px;
$marker-2-offset-y: -3px;
$marker-2-width: 12px;
$marker-2-height: 12px;
$marker-2-total-width: 314px;
$marker-2-total-height: 96px;
$marker-2-image: '../images/sprite.png';
$marker-2: (192px, 3px, -192px, -3px, 12px, 12px, 314px, 96px, '../images/sprite.png', 'marker-2', );
$marker-3-name: 'marker-3';
$marker-3-x: 216px;
$marker-3-y: 3px;
$marker-3-offset-x: -216px;
$marker-3-offset-y: -3px;
$marker-3-width: 12px;
$marker-3-height: 11px;
$marker-3-total-width: 314px;
$marker-3-total-height: 96px;
$marker-3-image: '../images/sprite.png';
$marker-3: (216px, 3px, -216px, -3px, 12px, 11px, 314px, 96px, '../images/sprite.png', 'marker-3', );
$marker-name: 'marker';
$marker-x: 180px;
$marker-y: 3px;
$marker-offset-x: -180px;
$marker-offset-y: -3px;
$marker-width: 12px;
$marker-height: 12px;
$marker-total-width: 314px;
$marker-total-height: 96px;
$marker-image: '../images/sprite.png';
$marker: (180px, 3px, -180px, -3px, 12px, 12px, 314px, 96px, '../images/sprite.png', 'marker', );
$odn-shadow-name: 'odn-shadow';
$odn-shadow-x: 0px;
$odn-shadow-y: 49px;
$odn-shadow-offset-x: 0px;
$odn-shadow-offset-y: -49px;
$odn-shadow-width: 40px;
$odn-shadow-height: 47px;
$odn-shadow-total-width: 314px;
$odn-shadow-total-height: 96px;
$odn-shadow-image: '../images/sprite.png';
$odn-shadow: (0px, 49px, 0px, -49px, 40px, 47px, 314px, 96px, '../images/sprite.png', 'odn-shadow', );
$odn-name: 'odn';
$odn-x: 102px;
$odn-y: 22px;
$odn-offset-x: -102px;
$odn-offset-y: -22px;
$odn-width: 12px;
$odn-height: 19px;
$odn-total-width: 314px;
$odn-total-height: 96px;
$odn-image: '../images/sprite.png';
$odn: (102px, 22px, -102px, -22px, 12px, 19px, 314px, 96px, '../images/sprite.png', 'odn', );
$separator-name: 'separator';
$separator-x: 102px;
$separator-y: 0px;
$separator-offset-x: -102px;
$separator-offset-y: 0px;
$separator-width: 212px;
$separator-height: 3px;
$separator-total-width: 314px;
$separator-total-height: 96px;
$separator-image: '../images/sprite.png';
$separator: (102px, 0px, -102px, 0px, 212px, 3px, 314px, 96px, '../images/sprite.png', 'separator', );
$twitter-shadow-name: 'twitter-shadow';
$twitter-shadow-x: 51px;
$twitter-shadow-y: 0px;
$twitter-shadow-offset-x: -51px;
$twitter-shadow-offset-y: 0px;
$twitter-shadow-width: 51px;
$twitter-shadow-height: 47px;
$twitter-shadow-total-width: 314px;
$twitter-shadow-total-height: 96px;
$twitter-shadow-image: '../images/sprite.png';
$twitter-shadow: (51px, 0px, -51px, 0px, 51px, 47px, 314px, 96px, '../images/sprite.png', 'twitter-shadow', );
$twitter-name: 'twitter';
$twitter-x: 102px;
$twitter-y: 3px;
$twitter-offset-x: -102px;
$twitter-offset-y: -3px;
$twitter-width: 25px;
$twitter-height: 19px;
$twitter-total-width: 314px;
$twitter-total-height: 96px;
$twitter-image: '../images/sprite.png';
$twitter: (102px, 3px, -102px, -3px, 25px, 19px, 314px, 96px, '../images/sprite.png', 'twitter', );
$spritesheet-width: 314px;
$spritesheet-height: 96px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($check-active, $check-unactive, $fb-shadow, $fb, $marker-1, $marker-2, $marker-3, $marker, $odn-shadow, $odn, $separator, $twitter-shadow, $twitter, );
$spritesheet: (314px, 96px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
