.img{
	
	&--block{
		display: block;
	}

	&--inline{
		display: inline-block;
		vertical-align: middle;
	}

	&--responsive{
		max-width: 100%;
	}
}

.hidden{
	position: absolute;
	visibility: hidden;
}