.winners{
	padding-top: 112px;

	.module__title{
		text-transform: uppercase;
		z-index: 2;

		&__part--1{
			margin: 5px 0 0 0;
		}
		&__part--2{
			font-size: 60.26px;
			margin: -21px 0 0 1px;
		}
	}


	&__list{
		padding: 80px 87px 45px 86px;
	}

	&__item{
		position: relative;	
		font-size: 0;
		line-height: 1;
		margin: 5px 0 0 0;

		.separator{
			@include sprite($separator);
			position: absolute;
			top: 50%;
			left: 40%;
		}
	}

	&__name{
		width: 40%;
		font-family: $bold;
		font-size: 43.33px;
		text-align: left;
		display: inline-block;
		vertical-align: middle;
		letter-spacing: .7px;
	}

	&__score{
		display: inline-block;
		vertical-align: middle;
		text-align: right;
		width: 60%;

		&__count{
			font-family: $bold;
			font-size: 55.34px;
			position: relative;
			padding-right: 8px;
		}

		&__label{
			font-family: $regular;
			font-size: 32.34px;
			position: relative;
			letter-spacing: 0.4px;
		}
	}
}