@import "compass";
@import "compass/reset";
@import "mixins";
@import "fonts";
@import "variables";
@import "extends";


*, *:after, *:before{
    @include box-sizing(border-box);
}


body, html{
    height: 100%;
    min-width: 980px;
}


.global{
    min-height: 100%;
    max-width: 100%;
    overflow: hidden;
	background:  #070a03 image-url('plashka-bg.jpg') center center no-repeat;

	#no & {
		height: 1250px;
	}

	#registration & {
		height: 900px;
	}

	#yes & {
		height: 900px;
	}
}

.plashka{
	width: image-width('plane-1.png');
	height: image-height('plane-1.png');
	background:  image-url('plane-1.png') 0 0 no-repeat;
	margin:  auto;
	position: relative;
	top: 50%;
	margin-top: -(image-height('plane-1.png')/2);

	&__title{
		position: relative;
	}

	&__inner{
		position: relative;
		z-index: 2;
		text-align: center;
		height: 350px;
		padding-bottom: 60px;
	}

	&__close{
		@include transition(opacity .2s ease);
		position: absolute;
		left: 50%;
		bottom: 0;
		width: image-width('close.png');
		height: image-height('close.png');
		background: image-url('close.png') 0 0 no-repeat;
		margin-left: -86px;

		&:hover{
			opacity: .8;
		}
	}

	&__text{
		@extend %text-shadow;
		font-family: $bold;
		color: #fff;
		padding: 9px 12px 0 0;
		letter-spacing: -.3px;
		font-size: 41px;
	}

	#no &{

		&__inner{
			padding: 73px 17px 60px 0;
		}

		.person{
			position: absolute;
			width: image-width('person-5.png');
			height: image-height('person-5.png');
			background:  image-url('person-5.png') 0 0 no-repeat;
			position: absolute;
			left: 50%;
		    top: -388px;
		    margin-left: -158px;
		}
	}

	#registration & {

		&__inner{
			padding: 127px 13px 0 0;
		}

		.person{
			position: absolute;
			width: image-width('person-6.png');
			height: image-height('person-6.png');
			background:  image-url('person-6.png') 0 0 no-repeat;
			position: absolute;
			right: -227px;
			top: -255px;
		}

		.plashka__title__link{
			display: block;
			position: absolute;
			height: 10px;
			width: 100px;
			left: 0;
			top: 0;

			&--enter{
			    top: 6px;
			    height: 32px;
			    left: 112px;
			    width: 124px;
			}

			&--reg{
			    right: 121px;
			    left: auto;
			    top: 12px;
			    height: 26px;
			    width: 286px;
			}
		}
	}
	#yes & {

		&__inner{
			padding: 61px 17px 0 0;
		}

		&__text{
			margin: -6px 0 0 8px;
			font-size: 35.5px;
			padding: 0;

			&--1{
				letter-spacing: -.35px;
				margin: 0 0 0 -6px;
			}

			&--2{
				margin: -3px 0 0 -6px;
			}
		}

		.person{
			position: absolute;
			width: image-width('person-7.png');
			height: image-height('person-7.png');
			background:  image-url('person-7.png') 0 0 no-repeat;
			position: absolute;
			left: -177px;
			top: -51px;
		}
	}
}